@mixin sitefont {
    font-size: $fsize;
    font-family: $ffamily;
    color: $black;
    font-weight: $fweight;
}

@mixin borderradius {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

@mixin shadow-bottom {
    box-shadow: 0 1px 1px $gray;
    -moz-box-shadow: 0 1px 1px $gray;
    -webkit-box-shadow: 0 1px 1px $gray;
    -ms-box-shadow: 0 1px 1px $gray;
    -o-box-shadow: 0 1px 1px $gray;
}

@mixin transition {
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

@mixin objectfit {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}


//mobile mixin
@mixin mob {
    @media(min-width:#{$mobile-width}) and (max-width:#{$mobilelandscape-width - 1}) {
        @content;
    }
}

//mixin mobile landscape
@mixin moblscape {
    @media (min-width:#{$mobilelandscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//mixin tablet
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//mixin laptop

@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width -1}) {
        @content;
    }
}