$green:#007006;
$orange:#ffc700;
$white:#ffffff;
$black:#000000;
$lightgray:#f7f7f7;
$fweight:400;
$gray:#cccccc;

$fsize:15px;
$ffamily:'Be Vietnam',
sans-serif;


//responsive variables
$mobile-width:320px; //mobile minmum width
$mobilelandscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:992px; // Large devices (desktops,laptops 992px and up)
$desktop-width:1200px; // Extra large devices (large desktops, 1200px and up)