@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap");
body {
  font-size: 15px;
  font-family: "Be Vietnam", sans-serif;
  color: #000000;
  font-weight: 400;
}

body .fgreen {
  color: #007006;
}

body .forange {
  color: #ffc700;
}

body .lightgray {
  color: #f7f7f7;
}

body .fthin, body .titlerow h4, .titlerow body h4 {
  font-weight: 100;
}

body .flight {
  font-weight: 300;
}

body .fmed, body .orangebtn, body .titlerow h3, .titlerow body h3, body .blogs-home .blogcol article h6, .blogs-home .blogcol article body h6 {
  font-weight: 500;
}

body .fsbold {
  font-weight: 600;
}

body .fbold, body .titlerow h4 span, .titlerow h4 body span, body .models .autocol h6, .models .autocol body h6 {
  font-weight: 700;
}

body .small {
  font-size: 13px;
}

body .orangebtn {
  background: #ffc700;
  padding: 7px 25px;
  border-radius: 40px;
  color: #000000;
  box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadow: 0 1px 1px #cccccc;
  -ms-box-shadow: 0 1px 1px #cccccc;
  -o-box-shadow: 0 1px 1px #cccccc;
  line-height: 25px;
}

body .orangebtn:hover {
  background: #007006;
  color: #ffffff;
}

body a {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  color: #000000;
}

body a:hover {
  text-decoration: none;
  color: #007006;
}

.fixed-theme .navbar-brand img {
  width: 127px !important;
}

.fixed-theme .mainnav:after {
  content: '';
  background: #000000;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 1;
}

.fixed-theme .top-header {
  margin-top: -50px;
}

header .top-header {
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0;
  position: relative;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

header .top-header:after {
  content: '';
  background: #007006;
  position: absolute;
  width: 100%;
  top: 0;
  right: -100px;
  bottom: 0;
  z-index: 0;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top-header:after {
    -webkit-transform: skew(0);
            transform: skew(0);
    right: 0;
  }
}

header .top-header .container {
  position: relative;
  z-index: 1;
}

header .top-header .container .icomoon {
  color: #ffc700;
  padding: 0 5px;
  font-size: 16px;
}

header .top-header .container .leftnav .nav-item:nth-child(2):before {
  content: '|';
  padding: 0 15px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top-header .container .leftnav .nav-item:nth-child(2):before {
    padding: 0 8px;
  }
}

header .top-header .container .leftnav .nav-item:nth-child(2):after {
  content: '|';
  padding: 0 15px;
  color: #ffffff;
}

header .top-header .container .nav-link {
  color: #ffffff;
  padding: 0 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top-header .container .nav-link {
    padding: 0 8px;
  }
}

header .top-header .container .nav-link:hover {
  color: #ffc700;
}

header .mainnav {
  position: relative;
}

header .mainnav:after {
  content: '';
  background: #000000;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.8;
}

header .mainnav .container {
  z-index: 1;
  position: relative;
}

header .mainnav .container .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

header .mainnav .container .navbar-brand img {
  width: 157px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .mainnav .container .navbar-brand img {
    width: 127px;
  }
}

header .mainnav .navbar .nav-item .nav-link {
  color: #ffffff;
  padding: 10px 12px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-toggler {
    border: 1px solid #ffffff !important;
  }
  header .navbar-toggler .icomoon {
    color: #ffffff !important;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .slider-article {
    padding-top: 100px;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  width: 100%;
}

.carousel-item .slider-article {
  width: 85%;
  margin: 12% auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel-item .slider-article {
    width: 100%;
  }
}

.carousel-item .slider-article .carousel-caption {
  /** background: rgba(0, 0, 0, 0.4);**/
  padding: 10px;
  text-align: left;
  position: relative;
  left: 0;
}

.carousel-item .slider-article .carousel-caption h2 {
  font-size: 30px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel-item .slider-article .carousel-caption h2 {
    font-size: 19px;
  }
}

.carousel-item .slider-article .carousel-caption .slidertitle {
  color: #ffc700;
  font-size: 66px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel-item .slider-article .carousel-caption .slidertitle {
    font-size: 30px;
  }
}

.carousel-item .slider-article .carousel-caption p {
  color: #ffffff;
  font-size: 17px;
}

.carousel-indicators li {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #ffc700;
}

.whitebord {
  border: 7px solid #ffffff;
  box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadow: 0 1px 1px #cccccc;
  -ms-box-shadow: 0 1px 1px #cccccc;
  -o-box-shadow: 0 1px 1px #cccccc;
}

.titlerow h3 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 60px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .titlerow h3 {
    padding-left: 0;
    font-size: 17px;
  }
}

.titlerow h3:before {
  content: '';
  width: 40px;
  height: 3px;
  background: #ffc700;
  position: absolute;
  top: 10px;
  left: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .titlerow h3:before {
    display: none;
  }
}

.titlerow h4 {
  font-size: 34px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .titlerow h4 {
    font-size: 21px;
  }
}

.titlerow h4 span {
  color: #007006;
}

.offers-home {
  background: #f7f7f7;
  padding: 110px 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .offers-home {
    padding: 25px 0;
  }
}

.offers-home:after {
  content: '|';
  width: 20%;
  background: #007006;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .offers-home:after {
    display: none;
  }
}

.offers-home .container-fluid {
  position: relative;
  z-index: 1;
}

.offers-home .container-fluid .offercol {
  background: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 35px 0;
  display: block;
}

@media (min-width: 320px) and (max-width: 575px) {
  .offers-home .container-fluid .offercol {
    margin-bottom: 10px;
  }
}

.offers-home .container-fluid .offercol:hover {
  background: #ffc700;
  border: 1px solid #ffc700;
  color: #000000;
}

.offers-home .container-fluid .offercol:hover .icomoon {
  font-size: 65px;
  color: #0d0d0d;
}

.offers-home .container-fluid .offercol .icomoon {
  font-size: 65px;
  color: gray;
}

.offers-home .container-fluid .offercol h5 {
  margin-top: 25px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.models {
  padding: 75px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .models .autocol {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }
}

.models .autocol:hover img {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.models .autocol img {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.models .autocol h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #007006;
  padding: 15px 0;
}

.about {
  padding: 75px 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about {
    padding: 25px 0;
  }
}

.about:before {
  content: '|';
  width: 20%;
  background: #007006;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about:before {
    display: none;
  }
}

.about p {
  font-size: 17px;
  line-height: 32px;
  text-align: justify;
}

.blogs-home {
  background: #f7f7f7;
  padding: 50px 0;
}

.blogs-home .blogcol {
  background: #ffffff;
  position: relative;
  padding-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .blogs-home .blogcol {
    margin-bottom: 15px;
  }
}

.blogs-home .blogcol:hover {
  box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadow: 0 1px 1px #cccccc;
  -ms-box-shadow: 0 1px 1px #cccccc;
  -o-box-shadow: 0 1px 1px #cccccc;
}

.blogs-home .blogcol article {
  padding: 10px;
}

.blogs-home .blogcol article h6 {
  font-size: 19px;
  padding: 10px 0;
}

.blogs-home .blogcol article p {
  font-size: 15px;
  line-height: 26px;
  color: #4d4d4d;
}

.blogs-home .blogcol .link {
  width: 50px;
  height: 50px;
  background: #ffc700;
  text-align: center;
  right: 0;
  bottom: 0;
  display: inline-block;
  line-height: 56px;
}

.blogs-home .blogcol .link:hover {
  background: #007006;
}

.blogs-home .blogcol .link:hover .icomoon {
  color: #ffffff;
}

.blogs-home .blogcol .link .icomoon {
  font-size: 25px;
  color: #000000;
}

.testimonials {
  background: url(../img/testimonialsbg.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  position: relative;
  padding: 55px 0 0 0;
}

.testimonials .carousel-control-prev,
.testimonials .carousel-control-next {
  display: none;
}

.testimonials:before {
  content: '';
  background: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.testimonials .bs-example {
  padding: 40px 0;
}

.testimonials .bs-example .carousel-item {
  height: auto;
}

.testimonials .bs-example .carousel-item .icomoon {
  font-size: 45px;
  color: #ffc700;
}

.testimonials .bs-example .carousel-item .h5 {
  color: #ffffff;
  font-size: 20px;
}

.testimonials .bs-example .carousel-item p {
  font-size: 16px;
  color: #ffffff;
  padding: 15px 0;
  line-height: 30px;
}

.testimonials .bs-example .carousel-item img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.testimonials .bs-example .carousel-item h6 {
  font-size: 18px;
  color: #ffc700;
  padding: 15px 0;
}

ul {
  list-style: none;
}

footer {
  background: #f7f7f7;
  padding: 20px 0 0 0;
  position: relative;
}

footer #movetop {
  position: fixed;
  right: 10px;
  bottom: 15px;
  font-size: 19px;
  color: #ffffff;
  display: none;
  width: 40px;
  height: 40px;
  background: #007006;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  z-index: 999;
}

footer #movetop:hover {
  background: #ffc700;
}

footer .h5 {
  padding: 20px 0;
  color: #007006;
}

footer ul {
  padding-left: 0;
  margin-left: 0;
}

footer ul li a {
  font-size: 15px;
  padding: 5px 0;
  display: inline-block;
}

footer .social-footer {
  padding: 20px 0;
  border-top: 1px solid #cccccc;
}

footer .social-footer .icomoon {
  font-size: 21px;
  padding: 0 10px;
}

footer .rights {
  background: #ffc700;
  padding: 20px 0;
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */