@import 'variables';
@import 'mixins';

//google fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap');

body {
    @include sitefont;

    .fgreen {
        color: $green;
    }

    .forange {
        color: $orange;
    }

    .lightgray {
        color: $lightgray;
    }

    .fthin {
        font-weight: 100;
    }

    .flight {
        font-weight: 300;
    }

    .fmed {
        font-weight: 500;
    }

    .fsbold {
        font-weight: 600;
    }

    .fbold {
        font-weight: 700;
    }

    .small {
        font-size: $fsize - 2;
    }

    .orangebtn {
        background: $orange;
        padding: 7px 25px;
        border-radius: 40px;
        color: $black;
        @extend .fmed;
        @include shadow-bottom;
        line-height: 25px;

        &:hover {
            background: $green;
            color: $white;
        }

    }

    a {
        @include transition;
        color: $black;

        &:hover {
            text-decoration: none;
            color: $green;
        }
    }
}

.fixed-theme {

    .navbar-brand {
        img {
            width: 127px !important;
        }
    }

    .mainnav {
        &:after {
            content: '';
            background: $black;
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            opacity: 1;
        }
    }



    .top-header {
        margin-top: -50px;
    }

}

//header 
header {
    .top-header {
        font-size: $fsize - 1;
        color: $white;
        padding: 10px 0;
        position: relative;
        @include transition;


        &:after {
            content: '';
            background: $green;
            position: absolute;
            width: 100%;
            top: 0;
            right: -100px;
            bottom: 0;
            z-index: 0;
            transform: skew(-35deg);

            @include mob {
                transform: skew(0);
                right: 0;
            }
        }

        .container {
            position: relative;
            z-index: 1;

            .icomoon {
                color: $orange;
                padding: 0 5px;
                font-size: $fsize + 1;
            }

            .leftnav {
                .nav-item {
                    &:nth-child(2) {
                        &:before {
                            content: '|';
                            padding: 0 15px;
                            color: $white;

                            @include mob {
                                padding: 0 8px;
                            }
                        }

                        &:after {
                            content: '|';
                            padding: 0 15px;
                            color: $white;
                        }
                    }
                }
            }

            .nav-link {
                color: $white;
                padding: 0 10px;

                @include mob {
                    padding: 0 8px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    //top header 

    //main nav
    .mainnav {
        position: relative;

        &:after {
            content: '';
            background: $black;
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            z-index: 0;
            opacity: 0.8;
        }

        .container {
            z-index: 1;
            position: relative;

            .navbar-brand {
                padding-top: 0;
                padding-bottom: 0;

                img {
                    width: 157px;
                    @include transition;

                    @include mob {
                        width: 127px;
                    }
                }
            }
        }



        .navbar {
            .nav-item {
                .nav-link {
                    color: $white;
                    padding: 10px 12px;
                }
            }
        }
    }

    @include mob {
        .navbar-toggler {
            border: 1px solid $white !important;

            .icomoon {
                color: $white !important;
            }
        }
    }

    //main nav ends 
}

@include mob {
    .home-slider {
        .slider-article {
            padding-top: 100px;
        }
    }
}

//slider home
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;

    .slider-article {
        width: 85%;
        margin: 12% auto;

        @include mob {
            width: 100%;
        }

        .carousel-caption {
            /** background: rgba(0, 0, 0, 0.4);**/
            padding: 10px;
            text-align: left;
            position: relative;
            left: 0;

            h2 {
                font-size: $fsize* 2;
                color: $white;

                @include mob {
                    font-size: $fsize + 4;
                }
            }

            .slidertitle {
                color: $orange;
                font-size: $fsize * 4 + 6;

                @include mob {
                    font-size: $fsize *2;
                }
            }

            p {
                color: $white;
                font-size: $fsize + 2;
            }
        }
    }
}

.carousel-indicators {
    li {
        opacity: 1;
    }

    .active {
        background-color: $orange;

    }
}

.whitebord {
    border: 7px solid $white;
    @include shadow-bottom;
}

.titlerow {
    h3 {
        font-size: $fsize + 5;
        color: $black;
        text-transform: uppercase;
        @extend .fmed;
        padding-left: 60px;

        @include mob {
            padding-left: 0;
            font-size: $fsize + 2;
        }

        &:before {
            content: '';
            width: 40px;
            height: 3px;
            background: $orange;
            position: absolute;
            top: 10px;
            left: 20px;

            @include mob {
                display: none;

            }
        }
    }

    h4 {
        font-size: $fsize * 2 + 4;
        @extend .fthin;

        @include mob {
            font-size: $fsize + 6;
        }

        span {
            @extend .fbold;
            color: $green;
        }
    }
}

//offers section
.offers-home {
    background: $lightgray;
    padding: 110px 0;
    position: relative;

    @include mob {
        padding: 25px 0;
    }

    &:after {
        content: '|';
        width: 20%;
        background: $green;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        @include mob {
            display: none;
        }
    }

    .container-fluid {
        position: relative;
        z-index: 1;

        .offercol {
            background: $white;
            border: 1px solid $gray;
            width: 100%;
            padding: 35px 0;
            display: block;

            @include mob {
                margin-bottom: 10px;
            }

            &:hover {
                background: $orange;
                border: 1px solid $orange;
                color: $black;

                .icomoon {
                    font-size: $fsize * 4 + 5;
                    color: lighten($black, 5%);
                }

            }

            .icomoon {
                font-size: $fsize * 4 + 5;
                color: lighten($black, 50%);
            }

            h5 {
                margin-top: 25px;
                font-size: $fsize + 3;
                line-height: 25px;
                font-weight: 400;

            }
        }
    }
}

//ofers section ends 

//models
.models {
    padding: 75px 0;

    .autocol {

        @include mob {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $gray;
        }

        &:hover {
            img {
                transform: translateX(20px);
            }
        }

        img {
            @include transition;
        }

        h6 {
            font-size: $fsize + 5;
            text-transform: uppercase;
            color: $green;
            @extend .fbold;
            padding: 15px 0;
        }
    }
}

//models ends 

//about
.about {
    padding: 75px 0;
    position: relative;

    @include mob {
        padding: 25px 0;
    }

    &:before {
        content: '|';
        width: 20%;
        background: $green;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 0;

        @include mob {
            display: none;
        }
    }

    p {
        font-size: $fsize + 2;
        line-height: 32px;
        text-align: justify;
    }
}

//about ends 

//blogs
.blogs-home {
    background: $lightgray;
    padding: 50px 0;

    .blogcol {
        background: $white;
        position: relative;
        padding-bottom: 50px;

        @include mob {
            margin-bottom: 15px;
        }

        &:hover {
            @include shadow-bottom;
        }

        article {
            padding: 10px;

            h6 {
                font-size: $fsize + 4;
                @extend .fmed;
                padding: 10px 0;
            }

            p {
                font-size: $fsize;
                line-height: 26px;
                color: lighten($black, 30%);

            }
        }

        .link {
            width: 50px;
            height: 50px;
            background: $orange;
            text-align: center;
            right: 0;
            bottom: 0;
            display: inline-block;
            line-height: 56px;

            &:hover {
                background: $green;

                .icomoon {
                    color: $white;
                }
            }


            .icomoon {
                font-size: $fsize + 10;
                color: $black;
            }
        }

    }
}

//blogs ends 

//testimonaisl
.testimonials {
    background: url(../img/testimonialsbg.jpg)no-repeat 0 0;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 55px 0 0 0;

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    &:before {
        content: '';
        background: $black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
    }

    .bs-example {
        padding: 40px 0;

        .carousel-item {
            height: auto;

            .icomoon {
                font-size: $fsize * 3;
                color: $orange;
            }

            .h5 {
                color: $white;
                font-size: $fsize + 5;
            }

            p {
                font-size: $fsize + 1;
                color: $white;
                padding: 15px 0;
                line-height: 30px;
            }

            img {
                width: 124px;
                height: 124px;
                border-radius: 50%;
                border: 5px solid $white;
            }

            h6 {
                font-size: $fsize + 3;
                color: $orange;
                padding: 15px 0;
            }
        }
    }
}

//testimonials ends

ul {
    list-style: none;
}

footer {
    background: $lightgray;
    padding: 20px 0 0 0;
    position: relative;

    #movetop {
        position: fixed;
        right: 10px;
        bottom: 15px;
        font-size: $fsize + 4;
        color: $white;
        display: none;
        width: 40px;
        height: 40px;
        background: $green;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        z-index: 999;

        &:hover {
            background: $orange;
        }
    }

    .h5 {
        padding: 20px 0;
        color: $green;

    }

    ul {
        padding-left: 0;
        margin-left: 0;

        li {
            a {
                font-size: $fsize;
                padding: 5px 0;
                display: inline-block;
            }
        }
    }

    .social-footer {
        padding: 20px 0;
        border-top: 1px solid $gray;

        .icomoon {
            font-size: $fsize + 6;
            padding: 0 10px;
        }
    }

    .rights {
        background: $orange;
        padding: 20px 0;
        color: $black;
        text-align: center;
        margin-bottom: 0;
    }
}